{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <div class="jumbotron">
    {% if personalData is empty %}
      <h1>Please complete Your <a href="{{path('personal_data')}}">Personal Data</a></h1>
    {% else %}
        <h1 class="display-3">Hello dr. {{personalData.name}} {{personalData.surname}}</h1>
    {% endif %}

    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="m-y-2">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <input type="text" id="" name="" maxlength="45" class="search" placeholder="Search">
    <table class="table table-bordered table-inverse">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Pesel</th>
                <th>Street</th>
                <th>Post code</th>
                <th>City</th>
                <th>Medical History </th>
                <th>Blood Test</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
          {% for patient in patients %}
            <tr>
                <th>{{loop.index}}</th>
                <th>{{patient.dataPersonal.name}}</th>
                <th>{{patient.dataPersonal.surname}}</th>
                <th>{{patient.dataPersonal.pesel}}</th>
                <th>{{patient.dataPersonal.street}}</th>
                <th>{{patient.dataPersonal.postCode}}</th>
                <th>{{patient.dataPersonal.city}}</th>
                <th>
                  <div class="btn-group" role="group">
                    <a href="{{path('history_add', {'id':patient.id})}}"><button type="button" class="btn btn-primary btn-sm ">Medical History</button></a>
                  </div>
                </th>
                <th>
                  <div class="btn-group" role="group">
                    <a href="{{path('blood_add', {'id':patient.id})}}"><button type="button" class="btn btn-success btn-sm ">Blood test</button></a>
                  </div>
                </th>
                <th>
                  <div class="btn-group" role="group">
                    <a href="{{path('user_edit', {'id':patient.id})}}"><button type="button" class="btn btn-info  btn-sm m-r">Edit</button></a>
                    <a href="{{path('user_delete', {'id':patient.id})}}"><button type="button" class="btn btn-danger btn-sm ">Delete</button></a>
                  </div>
                </th>
            </tr>
          {% endfor %}

        </tbody>
    </table>

  </div>
</div>

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascript %}
  {{parent()}}
  <script type="text/javascript">
$(document).ready(function() {
    $('.search').on('keyup', function() {
      if ($(this).val().length > 2) {
      var value= $(this).val();
      var url='{{path('helpers',{'text':'val'})}}'
      url = url.replace("val", value);
        $.ajax({
            type: "get",
            url: url,
            dataType: "json",
            success: function(response) {
              console.log(response);
                // console.log($('.form__input--menu').html(response[0]['name']));
                  $('.search__hint').addClass('search__hint--active');
                  $('.search__hint--company').html('');
                  $('.search__hint--order').html('');
                  $('.search__hint--ad').html('');
                  var companyList = $('.search__hint--company')
                  var orderList = $('.search__hint--order')
                  var adList = $('.search__hint--ad')
                  $.each(response, function(j){
                    switch (j) {
                      case 'company':

                      $.each(response[j], function(i)
                      {

                          var li = $('<li/>')
                              .addClass('lista_element--company')
                              .appendTo(companyList);
                          var aaa = $('<a/>')
                              .addClass('ui-all')
                              .text(response[j][i]['name'])
                              .attr('href', response[j][i]['url'])
                              .appendTo(li);
                      });
                        break;
                      case 'order':
                      $.each(response[j], function(i)
                      {
                          var li = $('<li/>')
                              .addClass('lista_element--order')
                              .appendTo(orderList);
                          var aaa = $('<a/>')
                              .addClass('ui-all')
                              .text(response[j][i]['title'])
                              .attr('href', response[j][i]['url'])
                              .appendTo(li);
                      });
                        break;
                      case 'ad':
                      $.each(response[j], function(i)
                      {
                          var li = $('<li/>')
                              .addClass('lista_element--ad')
                              .appendTo(adList);
                          var aaa = $('<a/>')
                              .addClass('ui-all')
                              .text(response[j][i]['title'])
                              .attr('href', response[j][i]['url'])
                              .appendTo(li);
                      });
                        break;
                      default:
                    }
                  });
            },
            error: function(response) {
              $('.search__hint').removeClass('search__hint--active');
            }
        });
}
if($(this).val().length < 3 && $(this).is(":focus")){
$('.search__hint').removeClass('search__hint--active');
}
    })
})
</script>
{% endblock %}
