{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="page-header">
            <h1 class="display-3">
                Add blood-test results
            </h1>
        </div>
        <div class="jumbotron m-t-3">
            <div class="container">
                {{form(form)}}
                </div>
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="alert alert-success m-t-2" role="alert">
                        <div class="flash-notice">
                            {{ flash_message }}
                        </div>
                    </div>
                {% endfor %}
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>DATE</th>
                            <th>RBC</th>
                            <th>HGB</th>
                            <th>HCT</th>
                            <th>HCV</th>
                            <th>MCH</th>
                            <th>MCHC</th>
                            <th>WBC</th>
                            <th>PLT</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bloodd in bloods %}

                            <tr>
                                <th>{{loop.index}}</th>
                                <th>{{blood.created|date('d.m.Y')}}</th>

                                <th {% if data.sex == "male" %} {% if bloodd.rbc < 4.5 or bloodd.rbc > 6.5 %} class="table-danger" {% endif %} {% else %} {% if bloodd.rbc < 3.9 or bloodd.rbc > 5.6 %} class="table-danger" {% endif %} {% endif %}>
                                    {{bloodd.rbc}}
                                </th>
                                <th {% if data.sex == "male" %} {% if bloodd.hgb < 7.4 or bloodd.hgb > 10.5 %} class="table-danger" {% endif %} {% else %} {% if bloodd.hgb < 6.8 or bloodd.hgb > 9.3 %} class="table-danger" {% endif %} {% endif %}>
                                    {{bloodd.hgb}}
                                </th>
                                <th {% if data.sex == "male" %} {% if bloodd.hct < 40 or bloodd.hct  > 51 %} class="table-danger" {% endif %} {% else %} {% if bloodd.hct < 37 or bloodd.hct  > 47 %} class="table-danger" {% endif %} {% endif %}>
                                    {{bloodd.hct}}</th>
                                <th {% if bloodd.mcv < 80 or bloodd.mcv  > 97 %} class="table-danger" {% endif %}>{{bloodd.mcv}}</th>
                                <th {% if bloodd.mch < 26 or bloodd.mch  > 32 %} class="table-danger" {% endif %}>{{bloodd.mch}}</th>
                                <th {% if bloodd.mchc < 31 or bloodd.mchc  > 36 %} class="table-danger" {% endif %}>{{bloodd.mchc}}</th>
                                <th {% if bloodd.wbc < 4.1 or bloodd.wbc  > 10.9 %} class="table-danger" {% endif %}>{{bloodd.wbc}}</th>
                                <th {% if bloodd.plt < 140 or bloodd.plt  > 440 %} class="table-danger" {% endif %}>{{bloodd.plt}}</th>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}
    {% block stylesheets %}{% endblock %}
